header {
    background-color: ghostwhite;
    color: darkgreen;
    font-size: 36x;
}

main {
    background-color: ghostwhite;
}

footer {
    background-color: indigo;
    color: paleturquoise;
}

#sloganStyle {
    background-color: blue;
    color: aliceblue;
    text-decoration: wavy;
    font-style: italic;
}

.headingStyle {
    font-weight: bold;
}