@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

/*
    Website custom colors
    Light blue: #71C2FF
*/

header {
    background-color: ghostwhite;
    color: lightgreen;
}

body {
    font-family: Karla
}

footer {
    background-color: indigo;
    color: #71C2FF;
    padding: 1%;
}

    footer a {
        color: lightgreen;
    }

#sloganStyle {
    font-style: italic;
    color: black;
    font-size: medium;
    text-shadow: 0px 0px 0px black;
}

.headingStyle {
    font-weight: bold;
    margin: 0;
    padding: .7%;
    text-shadow: 2px 2px 0px indigo;
    font-size: 36px;
}

.topHeadingStyle {
    text-align: right;
    color: lightgreen;
    background-color: indigo;
}

    .topHeadingStyle i {
        padding-left: 15px;
        padding-right: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 15px;
    }

nav a:hover, a:active, a:focus {
    text-decoration: none;
}

nav li:hover {
    background-color: #71C2FF;
    border-radius: 25px;
}

nav li {
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
}

nav ul li a {
    display: block;
    color: black;
    text-decoration: none;
}

nav a.pull-right {
    font-weight: bold;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 1.5em;
    display: none;
}

/*Hamburger Menu (Classes)*/

@media screen and (max-width: 900px) {

    nav ul#nav-list {
        display: none;
    }

    nav a.pull-right {
        display: inline-block;
    }

    nav ul#nav-list.expanded {
        float: none;
        clear: both;
        display: block;
    }

        nav ul#nav-list.expanded li {
            display: block;
        }

            nav ul#nav-list.expanded li a {
                display: block;
                text-align: center;
                font-size: 1em;
            }

}

.selected {
    background-color: #71C2FF;
    border-radius: 25px;
}

.mainWrapper {
    padding: 1%;
}

aside h2 {
    padding: 2%;
}

div.galleryItem:hover {
    border: 1px solid lightsalmon;
}

div.galleryItem img {
    width: 100%;
    height: auto;
}

div.galleryItem a:hover {
    background-color: lightsalmon;
}

.centerContent {
    margin: 0 auto;
    width: 85%;
}

#cssRightColumn {
    width: 75%;
    float: right;
}

#cssFloatLeft {
    float: left;
    padding-right: 25px;
}

#cssLogoFloatLeft {
    float: left;
    padding-right: 25px;
    padding-left: 15px;
}

.clear {
    clear: both;
}

.setWidth {
    width: 50%
}

#cssRightColumn {
    width: 25%;
    float: right;
}

    #cssRightColumn h2 {
        padding-top: 82px;
    }

#cssLeftColumn {
    width: 75%;
    float: left;
    border-right: 1px dashed teal;
    box-sizing: border-box;
    padding-bottom: 25px;
}

.teamNav {
    display: block;
    padding-left: 75px;
}

    .teamNav li {
        padding: .50em;
    }

aside h2 {
    padding: 25px;
}

/*Tables (Classes)*/

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin: auto;
    margin-bottom: 2em;
}

th {
    font-weight: bold;
    text-align: center;
}

td, th {
    padding: .3em;
}

thead {
    background-color: #96F3FA;
}

tfoot {
    background-color: teal;
}

    tfoot tr, tfoot td {
        border: 0;
    }

tbody tr:nth-child(even) {
    background-color: lightsalmon;
}

/*Cards (Classes)*/

.cards {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    grid-gap: 100px;
    padding-bottom: 50px;
    padding-left: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 235px;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.container {
    padding: 2px 2px;
    width: 235px;
    height: 300px;
}

.card-text {
    word-wrap: break-word;
    padding: 0px 5px 0px 5px;
}

.card-image {
    width: 100%;
    display: block:
}

.subjectHeaders {
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    font-size: 28px;
}

/*Side Navigation (Classes)*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1030;
    top: 0;
    right: 0;
    background-color: #71C2FF;
    opacity: .95;
    overflow-x: hidden;
    padding-top: 100px;
    transition: .5s;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: blackS;
        display: block;
        transition: .3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

.close-btn {
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

.button {
    font-family: sans-serif;
    background: rgba(75,0,130,.5);
    height: 100%;
    width: 20px;
    z-index: 1030;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
}

.vertical-text {
    position: absolute;
    top: 45%;
    left: 0;
    writing-mode: vertical-lr;
    color: white;
    font-weight: bold;
}

/*Lightbox (Team)*/

.thumb {
    cursor: pointer;
}

#lightbox-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    padding-top: 65px;
    display: none;
}

    #lightbox-container p {
        color: #fff;
    }

#lightbox-content img {
    border: 10px solid gray;
    margin: auto;
}